<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.hsatsarian" version = "1.0">

   <name>Naira Stash </name>

   <description>
      Naira Stash Mobile App
   </description>

   <author href = "http://femitechinn.com" email = "feminiscence@gmail.com">
      Ayodele Olufemi Segun
   </author>

   <preference name = "permissions" value = "none"/>

   <icon src = "res/android/mipmap-ldpi/ic_launcher.png"
      gap:platform = "android" gap:qualifier = "ldpi" />

   <icon src = "res/android/mipmap-mdpi/ic_launcher.png"
      gap:platform = "android" gap:qualifier = "mdpi" />

   <icon src = "res/android/mipmap-hdpi/ic_launcher.png"
      gap:platform = "android" gap:qualifier = "hdpi" />

   <icon src = "res/android/mipmap-xhdpi/ic_launcher.png"
      gap:platform = "android" gap:qualifier = "xhdpi" />

   <icon src = "res/android/mipmap-xxhdpi/ic_launcher.png"
      gap:platform = "android" gap:qualifier = "xxhdpi" />

   <icon src = "res/ios/icons/ic_launcher.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "res/ios/icons/icon57.png" gap:platform = "ios" width = "57" height = "57" />
   <icon src = "res/ios/icons/icon72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "res/ios/icons/icon57_2.png" gap:platform = "ios" width = "114" height = "114" />
   <icon src = "res/ios/icons/icon72_2.png" gap:platform = "ios" width = "144" height = "144" />

   <access origin="*"/>

   <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
      </platform>

</widget>
